<html>
  <head>
    <title>Tun.r</title>
  </head>
  <body>
    <h1>Tun.r</h1>
    <a href="/">Home</a>
    <a href="/songs">Songs</a>
    <a href="/artists">Artists</a>
    <a href="/playlists">Playlists</a>
    <a href="/about">About</a>
    <%= yield %>
  </body>
</html>
